# HR Analytics

<img src = 'https://datahack-prod.s3.ap-south-1.amazonaws.com/__sized__/contest_cover/hr_1920x480_s5WuoZs-thumbnail-1200x1200-90.jpg'>

Practice Problem: https://datahack.analyticsvidhya.com/contest/wns-analytics-hackathon-2018-1/

## HR Analytics

HR analytics is revolutionising the way human resources departments operate, leading to higher efficiency and better results overall. Human resources has been using analytics for years. However, the collection, processing and analysis of data has been largely manual, and given the nature of human resources dynamics and HR KPIs, the approach has been constraining HR. Therefore, it is surprising that HR departments woke up to the utility of machine learning so late in the game. Here is an opportunity to try predictive analytics in identifying the employees most likely to get promoted.

## Problem Statement

Your client is a large MNC and they have 9 broad verticals across the organisation. One of the problem your client is facing is around identifying the right people for promotion *(only for manager position and below)* and prepare them in time. Currently the process, they are following is:

* They first identify a set of employees based on recommendations/ past performance
* Selected employees go through the separate training and evaluation program for each vertical. These programs are based on the required skill of each vertical
* At the end of the program, based on various factors such as training performance, KPI completion (only employees with KPIs completed greater than 60% are considered) etc., employee gets promotion

For above mentioned process, the final promotions are only announced after the evaluation and this leads to delay in transition to their new roles. Hence, company needs your help in identifying the eligible candidates at a particular checkpoint so that they can expedite the entire promotion cycle.

<img src = 'https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/09/wns_hack_im_1.jpg'>

They have provided multiple attributes around Employee's past and current performance along with demographics. Now, The task is to predict whether a potential promotee at checkpoint in the test set will be promoted or not after the evaluation process.

## Evaluation Metric

The evaluation metric for this competition is F1 Score.

## Public and Private Split

Test data is further randomly divided into Public (40%) and Private (60%) data.

Your initial responses will be checked and scored on the Public data.
The final rankings would be based on your private score which will be published once the competition is over.

## Entorno

In [1]:
import sys
sys.version

'3.6.12 |Anaconda, Inc.| (default, Sep  8 2020, 17:50:39) \n[GCC Clang 10.0.0 ]'

In [2]:
!conda info --envs

# conda environments:
#
micromaster              /Users/manuel/.conda/envs/micromaster
                         /Users/manuel/.julia/conda/3
base                  *  /Users/manuel/opt/anaconda3
belcorp                  /Users/manuel/opt/anaconda3/envs/belcorp
courseragcp              /Users/manuel/opt/anaconda3/envs/courseragcp
iapucp                   /Users/manuel/opt/anaconda3/envs/iapucp
mitxpro                  /Users/manuel/opt/anaconda3/envs/mitxpro
style-transfer           /Users/manuel/opt/anaconda3/envs/style-transfer
taller-dmc               /Users/manuel/opt/anaconda3/envs/taller-dmc
udacity                  /Users/manuel/opt/anaconda3/envs/udacity

## Paquetes

In [3]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import os
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm, tqdm_notebook
from pathlib import Path
import random
import warnings
import pickle

warnings.filterwarnings('ignore')

seed = 2020
random.seed(seed)

pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 400)
sns.set()

DATA = Path('../../data') 
RAW  = DATA/'raw'
PROCESSED = DATA/'processed'
SUBMISSIONS = DATA/'submissions'    

MODEL = Path('../../model')

In [4]:
pd.__version__

'1.1.3'

In [5]:
np.__version__

'1.19.1'

In [6]:
sklearn.__version__

'0.23.2'

In [7]:
preproc_label = 'preprocess_v1'

## Lectura de datos

In [8]:
os.listdir(RAW)

['variables.txt',
 '.DS_Store',
 'preprocess_v1_train.csv',
 'test_2umaH9m.csv',
 'preprocess_v2_train.csv',
 'preprocess_v2_val.csv',
 'train_LZdllcl.csv',
 'preprocess_v1_val.csv']

In [9]:
df_test = pd.read_csv((f'{RAW}/test_2umaH9m.csv'))

In [10]:
id_columns = 'employee_id'
target = 'is_promoted'
prepoc_label = 'preprocess_v1'

# Preprocesamiento v1

* train / val split con 20% val
* imputación con media y mediana para continuas, categóricas con creación de flag de missing
* capeo de outliers ratio 1.5

## Test dataset

In [11]:
os.listdir(f'{RAW}')

['variables.txt',
 '.DS_Store',
 'preprocess_v1_train.csv',
 'test_2umaH9m.csv',
 'preprocess_v2_train.csv',
 'preprocess_v2_val.csv',
 'train_LZdllcl.csv',
 'preprocess_v1_val.csv']

In [12]:
df_test = pd.read_csv(f'{RAW}/test_2umaH9m.csv')
df_test.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [13]:
df_test = df_test.drop(id_columns, axis = 1)

## Loading pkls

In [14]:
[pkl for pkl in os.listdir(f'{PROCESSED}') if pkl.startswith(preproc_label) and pkl.endswith('pkl')]

['preprocess_v1_ohe.pkl',
 'preprocess_v1_ohe_columns.pkl',
 'preprocess_v1_scaler.pkl',
 'preprocess_v1_impute_values.pkl',
 'preprocess_v1_capping_values.pkl']

Impute values

In [15]:
with open(f'{PROCESSED}/{preproc_label}_impute_values.pkl', 'rb') as file:
    impute_values = pickle.load(file)
    
impute_values

{'previous_year_rating': 3.331993886204516, 'education': "Bachelor's"}

Capping values

In [16]:
with open(f'{PROCESSED}/{preproc_label}_capping_values.pkl', 'rb') as file:
    capping_values = pickle.load(file)
    
capping_values

{'no_of_trainings': 4.0, 'length_of_service': 20.0}

One hot encoding

In [17]:
with open(f'{PROCESSED}/{preproc_label}_ohe.pkl', 'rb') as file:
    ohe = pickle.load(file)

ohe

OneHotEncoder(handle_unknown='ignore')

In [18]:
with open(f'{PROCESSED}/{preproc_label}_ohe_columns.pkl', 'rb') as file:
    ohe_columns = pickle.load(file)
    
ohe_columns

array(['department_Analytics', 'department_Finance', 'department_HR',
       'department_Legal', 'department_Operations',
       'department_Procurement', 'department_R&D',
       'department_Sales & Marketing', 'department_Technology',
       'region_region_1', 'region_region_10', 'region_region_11',
       'region_region_12', 'region_region_13', 'region_region_14',
       'region_region_15', 'region_region_16', 'region_region_17',
       'region_region_18', 'region_region_19', 'region_region_2',
       'region_region_20', 'region_region_21', 'region_region_22',
       'region_region_23', 'region_region_24', 'region_region_25',
       'region_region_26', 'region_region_27', 'region_region_28',
       'region_region_29', 'region_region_3', 'region_region_30',
       'region_region_31', 'region_region_32', 'region_region_33',
       'region_region_34', 'region_region_4', 'region_region_5',
       'region_region_6', 'region_region_7', 'region_region_8',
       'region_region_9', "education_Bachelor's",
       'education_Below Secondary', "education_Master's & above",
       'gender_f', 'gender_m', 'recruitment_channel_other',
       'recruitment_channel_referred', 'recruitment_channel_sourcing'],
      dtype=object)

Scaler

In [19]:
with open(f'{PROCESSED}/{preproc_label}_scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)
    
scaler

StandardScaler()

## Preprocess

Nulls

In [20]:
df_test['na_previous_year_rating'] = df_test['previous_year_rating'].isnull().astype('int')
df_test['na_education'] = df_test['education'].isnull().astype('int')

df_test['previous_year_rating'] = df_test['previous_year_rating'].fillna(impute_values['previous_year_rating'])
df_test['education'] = df_test['education'].fillna(impute_values['education'])

Capping

In [21]:
df_test['no_of_trainings'] = np.where(df_test['no_of_trainings'] > capping_values['no_of_trainings'],
                                    capping_values['no_of_trainings'], df_test['no_of_trainings'])

df_test['length_of_service'] = np.where(df_test['length_of_service'] > capping_values['length_of_service'],
                                    capping_values['length_of_service'], df_test['length_of_service'])

Dummies

In [22]:
df_test_categorical = df_test.select_dtypes('object')
df_test_numerical = df_test.select_dtypes('number')

df_test_categorical_dummies = pd.DataFrame(ohe.transform(df_test_categorical).toarray(), 
                                     columns = ohe_columns, index = df_test_numerical.index)

df_test = pd.concat([df_test_numerical, df_test_categorical_dummies], axis = 1)

Scaling

In [23]:
df_test_scaled = pd.DataFrame(scaler.transform(df_test), columns = df_test.columns)

In [25]:
df_test_scaled.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,na_previous_year_rating,na_education,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology,region_region_1,region_region_10,region_region_11,region_region_12,region_region_13,region_region_14,region_region_15,region_region_16,region_region_17,region_region_18,region_region_19,region_region_2,region_region_20,region_region_21,region_region_22,region_region_23,region_region_24,region_region_25,region_region_26,region_region_27,region_region_28,region_region_29,region_region_3,region_region_30,region_region_31,region_region_32,region_region_33,region_region_34,region_region_4,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Bachelor's,education_Below Secondary,education_Master's & above,gender_f,gender_m,recruitment_channel_other,recruitment_channel_referred,recruitment_channel_sourcing
0,-0.431999,-1.410180,0.000000,-1.184811,1.356651,-0.153163,1.019427,3.515613,-0.212536,-0.32894,-0.220673,-0.215740,-0.137364,-0.509846,-0.387219,-0.135368,-0.666307,2.578113,-0.106419,-0.110615,-0.155332,-0.094979,-0.222429,-0.125042,-0.232522,-0.166592,-0.122189,-0.024823,-0.126818,-0.537077,-0.125886,-0.085878,-0.363769,-0.148817,-0.096073,-0.123338,4.872760,-0.177348,-0.157475,-0.137364,-0.080456,-0.10934,-0.193472,-0.130933,-0.071013,-0.071175,-0.180403,-0.12103,-0.111771,-0.31312,-0.112084,-0.089315,0.634349,-0.120154,-0.612337,-0.651463,0.651463,-1.120159,-0.145991,1.168798
1,-0.431999,-0.497938,-0.273747,-0.202487,-0.737109,-0.153163,-0.927181,-0.284445,-0.212536,-0.32894,-0.220673,4.635205,-0.137364,-0.509846,-0.387219,-0.135368,-0.666307,-0.387881,-0.106419,-0.110615,-0.155332,-0.094979,-0.222429,-0.125042,-0.232522,-0.166592,-0.122189,-0.024823,-0.126818,-0.537077,-0.125886,-0.085878,-0.363769,-0.148817,-0.096073,-0.123338,-0.205222,-0.177348,-0.157475,-0.137364,-0.080456,-0.10934,-0.193472,-0.130933,-0.071013,-0.071175,5.543147,-0.12103,-0.111771,-0.31312,-0.112084,-0.089315,0.634349,-0.120154,-0.612337,1.535007,-1.535007,0.892730,-0.145991,-0.855580
2,-0.431999,-0.497938,-1.922853,-0.448068,-0.737109,-0.153163,-1.226659,-0.284445,-0.212536,-0.32894,-0.220673,-0.215740,-0.137364,-0.509846,-0.387219,-0.135368,1.500810,-0.387881,-0.106419,-0.110615,-0.155332,-0.094979,4.495819,-0.125042,-0.232522,-0.166592,-0.122189,-0.024823,-0.126818,-0.537077,-0.125886,-0.085878,-0.363769,-0.148817,-0.096073,-0.123338,-0.205222,-0.177348,-0.157475,-0.137364,-0.080456,-0.10934,-0.193472,-0.130933,-0.071013,-0.071175,-0.180403,-0.12103,-0.111771,-0.31312,-0.112084,-0.089315,0.634349,-0.120154,-0.612337,-0.651463,0.651463,0.892730,-0.145991,-0.855580
3,3.082507,-0.497938,-1.098300,0.779837,-0.737109,-0.153163,0.120992,-0.284445,-0.212536,-0.32894,-0.220673,-0.215740,-0.137364,-0.509846,2.582520,-0.135368,-0.666307,-0.387881,-0.106419,-0.110615,-0.155332,-0.094979,-0.222429,-0.125042,-0.232522,-0.166592,-0.122189,-0.024823,-0.126818,1.861932,-0.125886,-0.085878,-0.363769,-0.148817,-0.096073,-0.123338,-0.205222,-0.177348,-0.157475,-0.137364,-0.080456,-0.10934,-0.193472,-0.130933,-0.071013,-0.071175,-0.180403,-0.12103,-0.111771,-0.31312,-0.112084,-0.089315,0.634349,-0.120154,-0.612337,1.535007,-1.535007,0.892730,-0.145991,-0.855580
4,-0.431999,-0.628258,0.550807,0.288675,-0.737109,-0.153163,-0.178486,-0.284445,-0.212536,-0.32894,4.531596,-0.215740,-0.137364,-0.509846,-0.387219,-0.135368,-0.666307,-0.387881,-0.106419,-0.110615,-0.155332,-0.094979,-0.222429,-0.125042,-0.232522,-0.166592,-0.122189,-0.024823,-0.126818,-0.537077,-0.125886,-0.085878,-0.363769,-0.148817,-0.096073,-0.123338,-0.205222,-0.177348,-0.157475,7.279941,-0.080456,-0.10934,-0.193472,-0.130933,-0.071013,-0.071175,-0.180403,-0.12103,-0.111771,-0.31312,-0.112084,-0.089315,0.634349,-0.120154,-0.612337,-0.651463,0.651463,-1.120159,-0.145991,1.168798

## Save preprocessed datasets

In [26]:
df_test_scaled.to_csv(f'{PROCESSED}/{preproc_label}_test.csv', index = False, compression = 'zip')